<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>

<%= image_pack_tag 'pluto-9.svg', width: '50%',
                                  class: 'rounded mx-auto d-block',
                                  data: { bs_trigger: 'hover', bs_container: 'body', bs_toggle: "popover", bs_placement:"top", bs_content: "And here's some amazing content. It's very engaging. Right?" },
                                  alt: 'Edit Entry' %>
